html {
  height: 100%;
}

body {
  max-width: 1440px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  background-color: #ffffff;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #828282;
  width: 940px;
}

.menu > li {
  padding: 32px 0 32px 0;
}

.menu-item {
  text-decoration: none;
  color: #828282;
}

.active {
  color: #000000;
}

.introduce {
  display: flex;
  flex-direction: column;
  padding-bottom: 104px;
}

.introduce-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 30px;
}

.introduce-wrapper > h1 {
  max-width: 123px;
  font-size: 47.3392px;
  line-height: 59px;
  margin: 0;
}

.introduce-wrapper > span {
  max-width: 156px;
  align-self: flex-end;
}

.language-select {
  transform: rotate(270deg);
}

.lang-link {
  text-decoration: none;
  color: black;
}

.active-lang {
  text-decoration: none;
  color: #828282;
}

.delimetr {
  font-weight: bold;
}

.about-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  width: 100%;
}

.about-description > h2 {
  padding-top: 120px;
  font-family: "Gilroy";
  font-size: 34px;
  line-height: 42px;
  margin: 0;
}

.about-description > p:last-child {
  padding-bottom: 107px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 110px;
}

.skills > h2 {
  padding-top: 90px;
  font-family: "Gilroy";
  font-size: 34px;
  line-height: 42px;
  margin: 0;
}

.skills > p {
  padding: 60px 0 83px 0;
  margin: 0;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 120px;
  grid-row-gap: 0px;
  height: 206px;
}

.griditem-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 166px;
  grid-area: 1 / 1 / 2 / 2;
}
.griditem-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 166px;
  grid-area: 1 / 2 / 2 / 3;
}
.griditem-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 166px;
  justify-content: space-between;
  grid-area: 1 / 3 / 2 / 4;
}
.griditem-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 166px;
  grid-area: 1 / 4 / 2 / 5;
}

.app-name {
  max-width: 75px;
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #828282;
}

.star {
  padding-left: 9px;
}

.portfolio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  padding-top: 110px;
  padding-bottom: 47px;
}

.portfolio > h2 {
  margin: 0;
  padding-bottom: 47px;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 99px 0;
}

.portfolio-item > a {
  padding-top: 44px;
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts > h2 {
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  margin: 0;
  padding-top: 114px;
}

.contacts > p {
  margin: 0;
  padding-top: 20px;
}

.msg-button {
  margin-top: 40px;
}

.social-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 79px;
  min-width: 340px;
}

.contacts > p {
  padding-top: 45px;
}

.contacts > p:last-child {
  padding-bottom: 123px;
  font-family: "Gilroy-Medium";
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}

.msg-button {
    background-color: #070707;
    color: #ffffff;
    padding: 13px 30px;
    border-radius: 35px;
}